/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

@media screen and (width >= 1280px) {
	.content-container {
		margin: 0 auto;
		max-width: 1280px;
	}
}

html {	
	background: url('https://images.unsplash.com/photo-1595970280024-b8bdf07bef53?q=80&w=2448&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), lightgray 50% / cover no-repeat;
	background-color: rgba(255, 255, 255, 0.7);
	background-blend-mode: overlay;
	background-size: cover; 
	background-repeat: no-repeat;
	margin: 0;
	padding-bottom: 50px;
}


.navbar.navbar-expand-lg {
	padding-left: 30px;
	gap: 30px;
}

.nav-item1 {
	margin-left: 30px;
}

.nav-item2 {
	margin-left: 30px;
}

.nav-item3 {
	margin-left: 30px;
}


.nav-link.active {
	text-decoration: underline;
	font-weight: bold;
}


h1 {
	font-family: Archivo;
	font-size: 40px;
	color: #146C43;
	margin-top: 64px;
	margin-left: 116px;
}


h1 {
	position: absolute;
  }
  
h1::after {
	content: " ";
	display: block;
	border-bottom: 3px solid #146C43;
	width: 1048px; 
	position: absolute;
	top: 50px;
	justify-content: center;

  }

  .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 180px;
	margin-top: 180px;
  }

  .list-group-3 {
	margin-top: -270px;
  }

  .list-group-4 {
	margin-top: 15px;
  }

  .btn.btn-success {
	margin-left: 735px;
	margin-top: 30px;
  }
.btn.btn-outline-success {
	margin-top: 30px;
	margin-left: 10px;
}

/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}